@font-face {
    font-family: 'Inter 28pt';
    src: url('assets/fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('assets/fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('assets/fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('assets/fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root{
    --font: "Inter 28pt";
    --backGroundColor: #F9FAFB;
    --cardBgColor: #FFFFFF;
    --cardBorderStyle: 1px solid #E5E7EB;
    --primaryTextColor: #111827;
    --secondaryTextColor: #6B7280;
    --disableTextColor: #9CA3AF;
    --green: #10B981;
    --yellow: #F59E0B;
    --red: #EF4444;
    --redHover: #d83e3e;
    --redActive: #be3737;
    --white: #FFFFFF;
    --neutral: #6B7280;
    --neutralHover: #5c626d;
    --neutralActive: #4c515a;
    --noteCardColor: #333333;
    --buttonIdleColor: #3B82F6;
    --buttonHoverColor: #2563EB;
    --buttonActiveColor: #1D4ED8;
    --sideNavHoverColor: #F2F2F2;
    --sideNavActiveColor: #E5E7EB;
    --boxShadowStyle: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --modalBgColor: #FAFAFA;
}

*{
    padding: 0;
    /* margin: 0; */
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 25px;
}

#todobody{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 940px;
    gap: 25px;
    background-color: var(--backGroundColor);
    border-radius: 16px;
    box-shadow: var(--boxShadowStyle);
}

#title {
    font-size: 26px;
    font-weight: bold;
    color: var(--primaryTextColor);
}

span{
    color: var(--primaryTextColor);
    font-size: 20px;
}

#sideNav {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 920px;
    border: var(--cardBorderStyle);
    background-color: var(--cardBgColor);
    border-radius: 16px;
    padding: 30px;
    margin-top: 10px;
}

#sideNav:first-child{
    padding: 30px;
}

nav{
    margin-top: 55px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav > div {
    width: 280px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

nav > div:hover{
    background-color: var(--sideNavHoverColor);
    transition: background-color 0.2s;
    cursor: pointer;
}

nav > div:active{
    background-color: var(--sideNavActiveColor);
}

nav > div > div {
    display: flex;
    gap: 5px;
}

#project-header{
    font-size: 22px;
    font-weight: bold;
    color: var(--primaryTextColor);
}

#project-tab{
    width: 300px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#addProject_icon {
    cursor: pointer;
    border-radius: 5px;
}

#addProject_icon:hover{
    background-color: var(--sideNavHoverColor);
} 


/* Styling the dimmed background */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2); /* Black with 70% opacity */
}

#projects-container{
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.project-wrapper > div {
    display: flex;
    gap: 5px;
}

.project-wrapper{
    width: 280px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.project-wrapper:hover{
    background-color: var(--sideNavHoverColor);
    cursor: default;
}

.project-wrapper:active{
    background-color: var(--sideNavActiveColor);
}

#notice{
    font-size: 32px;
    color: var(--disableTextColor);
    font-weight: normal;
    position: absolute;
    top: 4in;
    right: 7in;
}

#project-page-container{
    display:  flex;
    gap: 20px;
}

.project-page{
    display: flex;
    gap: 25px;
}

#to-do-page-container{
    width: 680px;
    height: 940px;
    display: flex;
    flex-direction: column;
}

#to-do-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-do-control > h1{
    font-size: 26px;
    color: var(--primaryTextColor);
}

#to-do-page-btn-container > button{
    width: 40px;
    height: 15px;
    border-radius: 16px;
    border: none;
}

#to-do-page-btn-container{
    display: flex;
    gap: 7px;
    position: relative;
    top: 20px;
}

#add-to-do{
    width: 46px;
    height: 32px;
    position: relative;
    bottom: 16px;
    font-size: 30px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: var(--buttonIdleColor);
    margin-left: 5px;
}

#add-to-do:hover{
    cursor: pointer;
    background-color: var(--buttonHoverColor);
}

#add-to-do:active{
    background-color: var(--buttonActiveColor);
}

#neutral{
    background-color: var(--neutral);
}

#neutral:hover{
    background-color: var(--neutralHover);
    cursor: pointer;
}

#neutral:active{
    background-color: var(--neutralActive);
}

#high{
    background-color: var(--red);
}

#high:hover{
    background-color: var(--redHover);
    cursor: pointer;
}

#high:active{
    background-color: var(--redActive);
}

#medium {
    background-color: var(--yellow);
}

#medium:hover {
    background-color:#e2940c;
    cursor: pointer;
}

#medium:active {
    background-color: #ce8609;
}


#low{
    background-color: var(--green);
}

#low:hover{
    background-color: #10b07a;
    cursor: pointer;
}

#low:active{
    background-color: #0e9d6d;
    cursor: pointer;
}

#note-page-container{
    display: flex;
    flex-direction: column;
    width: 330px;
}

#note-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#note-control > h1 {
    font-size: 26px;
    color: var(--primaryTextColor);
}

#add-note{
    width: 46px;
    height: 32px;
    font-size: 30px;
    border-radius: 8px;
    position: relative;
    top: 5.5px;
    border: none;
    color: white;
    background-color: var(--buttonIdleColor);
    margin-left: 5px;
}

#add-note:hover{
    cursor: pointer;
    background-color: var(--buttonHoverColor);
}

#add-note:active{
    background-color: var(--buttonActiveColor);
}

.to-do-container{
    display: flex;
    width: 680px;
    background-color: var(--cardBgColor);
    border: var(--cardBorderStyle);
    border-radius: 16px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.to-do-container:hover{
    border: 2px solid var(--buttonHoverColor);
    transition: background-color 1ms
}


#date-check-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

#duedate {
    font-size: 12px;
    color: var(--primaryTextColor);
    text-decoration-line: underline;
}

.checkbox:hover{
    cursor: pointer;
    opacity: 0.5;
}

.finishedbox:hover{
    cursor: pointer;
}

.title-desc-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}

.todo-title{
    width: 230px;
}

.todo-title-p{
    font-size: 19px;
    color: var(--primaryTextColor);
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-description{
    width: 133px;
    height: 45px;
    margin-bottom: 30px;
}

.todo-description-p{
    width: 133px;
    font-size: 14px;
    color: var(--secondaryTextColor);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

#priority-editdel-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.edit-del{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.edit-del > img{
    width: 20px;
    height: 20px;
}

.edit-del > img:hover{
    cursor: pointer;
    opacity: 0.5;
}

.priority{
    padding-top: 15px;
}

#todo-priority-low{
    width: 40px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--green);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: white;
}

#todo-priority-medium{
    width: 50px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--yellow);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: var(--primaryTextColor);
}

#todo-priority-high{
    width: 40px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--red);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: white;
}

.to-do-container-expnd{
    display: flex;
    width: 680px;
    background-color: var(--cardBgColor);
    border: var(--cardBorderStyle);
    border-radius: 16px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--boxShadowStyle);
}

.to-do-container-expnd:hover{
    border: 2px solid var(--buttonHoverColor);
    transition: background-color 1ms
}

#date-check-wrapper-expnd{
    height: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
}

#duedate-expnd{
    font-size: 12px;
    color: var(--primaryTextColor);
    text-decoration-line: underline;
}


.todo-title-p-expnd{
    font-size: 19px;
    color: var(--primaryTextColor);
    width: 400px;
}

.todo-description-p-expnd{
    width: 133px;
    font-size: 14px;
    color: var(--secondaryTextColor);
    width: 270px;
}

#priority-editdel-wrapper-expnd{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.edit-del-expnd{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.edit-del-expnd > img{
    width: 20px;
    height: 20px;
}

.edit-del-expnd > img:hover{
    cursor: pointer;
    opacity: 0.5;
}

#todo-priority-low-expnd{
    width: 40px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--green);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: white;
}

#todo-priority-medium-expnd{
    width: 50px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--yellow);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: var(--primaryTextColor);
}

#todo-priority-high-expnd{
    width: 40px;
    height: 14px;
    border-radius: 16px;
    background-color: var(--red);
    border: none;
    font-size: 10px;
    font-family: var(--font);
    color: white;
}

.note-container{
    width: 330px;
    height: 350px;
    background-color: var(--noteCardColor);
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.note-title{
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: var(--noteCardColor);
    border: none;
    color: white;
    outline: none;
}

#note-description{
    resize: none;
    outline: none;
    width: 300px;
    height: 240px;
    font: var(--font);
    background-color: var(--noteCardColor);
    color: white;
    border: none;
}

.titlediv{
    padding-top: 20px;
}

.deleteIconDiv{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

